[Unit]
Description=Bitget Trading Bot
After=network.target

[Service]
# User running the script
User=opc
# Group=opc

# Working Directory
WorkingDirectory=/home/opc/bitget-trade

# Command to run (Absolute path to venv python)
ExecStart=/home/opc/project/venv/bin/python3 main.py

# Restart policy
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
